body {
  background-color: whitesmoke;
  width: 100%;
  font-family: helvetica;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content table {
  border-collapse: collapse;
}
.content table td, .content table th {
  padding: 10px;
}
.content table td {
  height: 2em;
}
.content table td:first-child {
  color: lightslategrey;
}
.content table td:nth-last-child(-n+2) {
  visibility: hidden;
  cursor: pointer;
}
.content table td:nth-last-child(-n+2):hover {
  font-style: italic;
}
.content table tr:nth-child(2n+1) td:nth-child(-n+3) {
  background-color: peachpuff;
}
.content table tr:nth-child(2n) td:nth-child(-n+3) {
  background-color: papayawhip;
}
.content table tr:first-child {
  background-color: lightsteelblue;
}
.content table tr:hover td:nth-last-child(-n+2) {
  visibility: visible;
}

.create-new-button {
  text-align: center;
  background-color: peachpuff;
  padding: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}
